.btn-glass,
.btn-float,
.btn-ripple {
        text-decoration: none !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

.btn-glass,
.btn-ripple {
        display: inline-block;
        padding: 5px 8px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
}

.btn-glass {
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase;
        appearance: button;
        min-width: 50px;
        min-height: 25px;
        border: solid 1px #ccc;
        background-color: #efefef;
        background-image: linear-gradient(0deg, #ccc 10px, #fffc, #dfdfdf);
        box-shadow: 0px 0px 10px #fffa inset;
        border-color: #bbb;
        color: #0009;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        transition: all 0.2s;
}

.btn-glass:hover {
        color: #111;
        filter: brightness(115%);
        transition: all 0.2s;
        background-image: linear-gradient(0deg, #ccc 15px, #fffc, #dfdfdf);
}

.btn-glass.rounded {
        border-radius: 6px;
}

.btn-glass.round {
        border-radius: 1em;
}

.btn-glass.ellipse {
        border-radius: 100%;
        padding-left: 15px;
        padding-right: 15px;
}

.btn-glass.success,
.btn-glass.warning,
.btn-glass.info,
.btn-glass.error {
        color: #fffb;
}

.btn-glass.success:hover,
.btn-glass.warning:hover,
.btn-glass.info:hover,
.btn-glass.error:hover {
        color: #fff;
}

.btn-glass.success {
        background-color: #0e0;
        background-image: linear-gradient(0deg, #0c0 10px, #fffa, #0a0);
        border-color: #0c0;
}

.btn-glass.success:hover {
        background-color: #0a0;
        background-image: linear-gradient(0deg, #0c0 15px, #fffa, #0b0);
        border-color: #0b0;
}

.btn-glass.error {
        background-color: #e00;
        background-image: linear-gradient(0deg, #d00 10px, #fffa, #b00);
        border-color: #c00;
}

.btn-glass.error:hover {
        background-image: linear-gradient(0deg, #f00 15px, #fffa, #c00);
        border-color: #e00;
}

.btn-glass.warning {
        background-color: #ec0;
        border-color: #ea0;
        background-image: linear-gradient(0deg, #fa0 10px, #fffa, #dc0);
}

.btn-glass.warning:hover {
        border-color: #ca0;
        background-image: linear-gradient(0deg, #fa0 15px, #fffa, #dc0);
}

.btn-glass.info {
        background-color: #0cf;
        background-image: linear-gradient(0deg, #08d 10px, #fffa, #08d);
        border-color: #08e;
}

.btn-glass.info:hover {
        border-color: #09d;
        background-image: linear-gradient(0deg, #08d 15px, #fffa, #08d);
}


/*Must use with renderer.js*/
.btn-ripple {
        min-width: 80px;
        position: relative;
        color: #000 !important;
        background-color: #fff;
        border: solid 1px #efefef;
        border-radius: 3px;
        font-size: 16px !important;
        overflow: hidden;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        transition: all 0.3s;
}

.btn-ripple.round {
        display: inline-block;
        min-width: 30px !important;
        width: 30px;
        height: 30px;
        line-height: 15px;
        text-align: center;
        border-radius: 20px;
}

.btn-ripple.round.mini {
        min-width: 20px !important;
        width: 20px;
        height: 20px;
        line-height: 16px;
        text-align: center;
        border-radius: 20px;
        padding: 0;
}

.btn-ripple:hover {
        box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.3);
        transition: all 0.3s;
}

.btn-ripple.animated::after {
        position: absolute;
        content: "";
        display: inline-block;
        animation-name: ripple-animation;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        background-color: #6f6f6f;
        border-radius: 100%;
}

.btn-ripple.success {
        background-color: #0f8;
        border-color: #0fa;
}

.btn-ripple.warning {
        background-color: #fc0;
        border-color: #fc4;
}

.btn-ripple.error {
        background-color: #f30;
        border-color: #f43;
}

.btn-ripple.info {
        background-color: #0df;
        border-color: #6df;
}

.btn-ripple.secondary {
        background-color: #def;
        border-color: #ddf;
}

@keyframes ripple-animation {
        from {
                left: 100%;
                right: 100%;
                bottom: 100%;
                top: 100%;
        }

        to {
                left: -30px;
                right: -30px;
                bottom: -30px;
                top: -30px;
                opacity: 0;
        }
}

.btn-float {
        position: sticky;
        bottom: 3%;
        float: right;
        min-width: 50px !important;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0px 5px;
        border-radius: 25px !important;
        line-height: 50px;
        z-index: 99999999;
}

.btn-float.send {
        background-image: url("../img/send.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center;
}

.btn-float.add {
        background-image: url("../img/add.svg");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center center;
}